---
import Layout from "../layouts/Layout.astro";
import SignUpFormReact from "../components/SignUpFormReact.jsx";
import logo from "../assets/logo.svg";
---

<Layout>
    <div class="wrapper">
        <header class="heading">
            <h1>
                <img src={logo.src} alt="3 and 3 Logo" />
            </h1>
        </header>
        <main>
            <p class="u:step-2 content">
                3 industry things to keep you plugged in <br />
                3 non-industry things to keep you curious <br />
                <br />
                every few weeks <sup>†</sup>
            </p>
            <SignUpFormReact client:load />
        </main>
        <footer class="footer">
            <p class="u:fw-600 u:step--2">
                In the meantime, stay updated on <a
                    href="https://bsky.app/profile/3-3.fyi"
                    target="_blank">Bluesky</a
                >.
            </p>
            <p class="u:fw-600 u:step--2">
                <sup>†</sup> Plus Bluesky feeds, community newsletter updates, and
                regular virtual meetups
            </p>
        </footer>
    </div>
</Layout>
