---
import Head from "../components/Head.astro";
const { title = "3&3", ...props } = Astro.props;
---

<!doctype html>
<html lang="en">
    <Head title={title} />
    <body>
        <slot />
    </body>
</html>
