---
import Head from "../components/Head.astro";
---

<!doctype html>
<html lang="en">
    <Head />
    <body>
        <video class="video-background" autoplay muted loop playsinline>
            <source src="/background-video.mp4" type="video/mp4">
        </video>
        <slot />
    </body>
</html>
